<div class="container">
  <mat-card class="card">
    <div class="cadastro-container">
      <h2>Cadastro</h2>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="formulario_cadastro">


        <mat-form-field>
          <mat-label>Tipo de Usuário</mat-label>
          <mat-select>
            <mat-option value="" disabled selected>Selecione</mat-option>
            <mat-option value="professor">Professor</mat-option>
            <mat-option value="aluno">Aluno</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" type="password" required />
        </mat-form-field>

        <button mat-flat-button  type="submit">Cadastrar</button>
      </form>
      <p>
        Já tem cadastro? <a [routerLink]="['/login']">Entrar aqui</a>
      </p>
    </div>
  </mat-card>
</div>
